/* Aeonik Pro – primary UI font */
@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/aeonik/AeonikProTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/aeonik/AeonikProTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/aeonik/AeonikProTRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/aeonik/AeonikProTRIAL-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/aeonik/AeonikProTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Aeonik Mono – numbers, data, tabular content */
@font-face {
  font-family: 'Aeonik Mono';
  src: url('/fonts/aeonik/AeonikMonoProTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Mono';
  src: url('/fonts/aeonik/AeonikMonoProTRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
